---
import { idText } from "typescript";

interface Props {
  image: string;
  title: string;
  description: string;
  id: string;
}

const props = Astro.props;
---

<!-- <div
  class="relative hover:scale-105 duration-300 transition-all bg-white border rounded-md shadow dark:bg-zinc-600"
>
  <img src={props.image} class="rounded-t-md" alt="" />
  <div class="absolute inset-0 flex flex-col justify-end">
    <div
      class="bg-neutral-300 bg-opacity-70 h-[25%] flex  items-center justify-start p-5 bottom-0 w-full"
    >
      <h1 class="text-3xl text-neutral-900 font-light">
        {props.title}
      </h1>
    </div>
  </div>
</div> -->
<div class="flex flex-col bg-white p-10 rounded-xl shadow-xl">
  <img src={props.image} class="rounded-xl" alt="" />
  <div class="pt-5 flex flex-row w-full justify-between">
    <h1 class="text-2xl text-neutral-700">
      {props.title}
    </h1>
    <h1 class="text-2xl text-neutral-700">EN STOCK</h1>
  </div>
  <a class="w-full" href={`/products/${props.id}`}>
    <button
      class="bg-neutral-500 w-full hover:bg-neutral-600 transition-all duration-300 text-white py-2 rounded-md text-lg mt-5"
      >Ver Producto</button
    >
  </a>
</div>
