---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import ProductsService from '@/services/products.service';
const params = Astro.params as {id: string}
const product = await ProductsService.getProduct(params.id)
if (!product) return Astro.redirect('/404')
---

<Layout title={product.title}>
    <div class="bg-neutral-500 p-4 shadow-md rounded-lg grid grid-cols-2 gap-4 my-6">
        <div>
            <a href="/">
                <button class="mb-2 bg-zinc-600 hover:bg-zinc-700 text-white py-2 px-4 rounded">
                Volver al inicio
            </button>
        </a>
            
            <img src={product.image} alt={product.title} class="w-full h-auto rounded-lg">
        </div>
        <div class="pt-10">
            <h1 class="text-2xl font-bold text-neutral-950 ">{product.title}</h1>
            <p class="text-lg mt-2 text-black">{product.description}</p>
        </div>
    </div>
    
</Layout>

<style>
    div {
        width: 85%;
        box-shadow: 5px;
    }
</style>